.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6px;
}
.iconBtn {
  cursor: pointer;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.icon {
  width: 28px;
  height: 28px;
  fill: #1976d2;
}

.count {
  display: flex;
  gap: 4px;
  align-items: center;
}
