.list {
  list-style: none;
  padding: 20px;
  border: 2px solid #1976d2;
  background-color: #1976d23d;
  border-radius: 8px;
  height: 78vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.item {
  width: 100%;
}

.button {
  cursor: pointer;
  width: 100%;

  padding: 20px 16px;
  border: 2px solid #1976d2;
  /* background-color: #1976d26d; */
  border-radius: 8px;
  color: #1976d2;
  font-size: 18px;
  background-color: #ffffff;
  transition: var(--transition) opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

/* .item:not(:last-child) {
  margin-bottom: 24px;
} */

.list::-webkit-scrollbar {
  overflow: hidden;
  width: 6px; /* ширина всей полосы прокрутки */
}

.list::-webkit-scrollbar-track {
  border-radius: 20px;
  /* background: #ffffff; */
  /* background: orange;
  overflow: hidden; */
}

.list::-webkit-scrollbar-thumb {
  background-color: #1976d2;
  border-radius: 20px;
  /* border: 3px solid #ffffff; */
}
