.form {
  padding: 20px;
  border: 2px solid #1976d2;
  background-color: #1976d23d;
  border-radius: 8px;
  height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
